# -*- coding: utf-8 -*- 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html style="background-color:#edf5ff">
<head>
    <title>${session['sr_component'].com_name}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="/yui/yuiloader/yuiloader-min.js" ></script>
    <script type="text/javascript" src="${h.url_for('/js/zone/visit-request.js')}"></script>
    <link rel="stylesheet" type="text/css" href="/css/page.css" >
</head>
<body class="yui-skin-sam">
    <div id="header_pane">

    </div>
    <div id="main_bd" class="yui-content">
        <form id="form" name="form" action="" method="post">
            <div class="toolbar_pane">
            	<input type="button" id="btnAdd" value="เพิ่ม">
            </div>
            <div id="form-data">
            	<input type="hidden" id="pa_id" name="pa_id" value="${c.pa_id}">
            	<input type="hidden" id="vn_id" name="vn_id" value="${c.vn_id}">
            	<input type="hidden" id="data" name="data">
            	<input type="hidden" id="del-data" name="del-data">
            	<div id="data-table" style="margin: 5px"></div>

            </div>
        </form>
    </div>
    <div id="footer">
    </div>
    <div id="dlg-delete"></div>
</body>
</html>