# -*- coding: utf-8 -*- 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>${session['sr_component'].com_name}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="/yui/yuiloader/yuiloader-min.js" ></script>
    <link rel="stylesheet" type="text/css" href="/css/background.css" >
</head>
<body class="yui-skin-sam">
    <div id="header_pane">

    </div>
    <div id="main_bd" class="yui-content">
        <ul>
   			<li><a href="${h.url_for('/psychosocial/setup_entrance')}">ข้อมูลลักษณะการเข้ารับการบำบัด</a></li>
   			<li><a href="${h.url_for('/psychosocial/setup_assessment')}">ข้อมูลการประเมินก่อนเข้ารับบริการ</a></li>
   			<li><a href="${h.url_for('/psychosocial/setup_type')}">ข้อมูลประเภทการบำบัด</a></li>
   			<li><a href="${h.url_for('/psychosocial/setup_method')}">ข้อมูลรูปแบบการบำบัด</a></li>
   			<li><a href="${h.url_for('/psychosocial/setup_result')}">ข้อมูลผลการบำบัด</a></li>
   			<li><a href="${h.url_for('/psychosocial/setup_cancel')}">ข้อมูลสาเหตุการบำบัดไม่ครบโปรแกรม</a></li>
   			<li><a href="${h.url_for('/psychosocial/setup_follow')}">ข้อมูลผลการติดตาม</a></li>
   			<li><a href="${h.url_for('/psychosocial/setup_number')}">ข้อมูลจำนวนครั้งที่เข้ารับการบำบัด</a></li>
   			<li><a href="${h.url_for('/psychosocial/setup_drug')}">ข้อมูลประเภทสารเสพติด</a></li>
   		</ul>
    </div>
    <div id="footer">
    </div>
</body>
</html>